
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh; 
}

body {
    background-color: #ffcccb; 
    color: purple; 
    margin: 0;
    font-family: Arial, sans-serif;
}

img.fixed-size {
    width: 600px;
    height: 600px;
    object-fit: cover; 
    margin-top: 20px; 
}


h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
}


p {
    font-size: 18px;
    font-family: Georgia, serif;
    color: purple; 
    margin-top: 20px;
    line-height: 1.6;
}

nav {
    background-color: lightblue; 
    padding: 10px 0; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none; 
    color: purple;
    font-size: 18px; 
    font-family: 'Arial', sans-serif; 
    padding: 10px 20px; 
    transition: background-color 0.3s, color 0.3s; 
}

nav ul li a:hover {
    background-color: lightblue;
    color: pink; 
    border-radius: 4px; 
}


.quote-item {
    display: flex; 
    align-items: center; 
    margin-bottom: 20px; 
}


.quote-item img {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    margin-right: 20px; 
}


.quote-item p {
    font-size: 18px;
    color: purple;
    margin: 0;
}
