<!-- blog/templates/blog/base.html 
 This is base page from which all other pages will inherit.
 Put common code here, specific code in separate pages
 -->
 {% load static %}
<html>
    <head>
        <title>Our Blog</title>
        <link rel="stylesheet" href="{% static 'styles-blog.css' %}">
    </head>
    <body>

    <nav>
        <ul>
            <!-- use the scriptlet URL function to look up a URL by name -->
            <a href="{% url 'show_all' %}">Show All</a>
            <a href="{% url 'random' %}">Random</a>
        </ul>

        <p>
            <!-- URLS that require authentication -->
            {% if request.user.is_authenticated %}
                <a href="{% url 'create_article' %}">Create Article</a>
                <form method="POST", action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input type="submit", value="Logout">
                </form>
                
            <!-- URLS to login -->
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </p>
    </nav>

    {% block content %}
    <!-- put the interesting (specific stuff) here -->
    {% endblock %}

   
    </body>
</html>