{% load static %}
<html>


<head>
   <title>{% block title %}Mini Facebook App{% endblock %}</title>


   <link rel="stylesheet" href="{% static 'styles5.css' %}">


</head>


<body>


   <!-- Navigation Bar -->
   <nav>
    <ul>
        <li><a href="{% url 'show_all_profiles' %}">All Profiles</a></li> <!-- Link to the All Profiles page -->
        <li><a href="{% url 'create_profile' %}">Create New Profile</a></li> <!-- Link to the Create A Profile page -->

        <!-- Conditionally visible link for News Feed -->
        {% if current_profile %}
            <li><a href="{% url 'news_feed' pk=current_profile.pk %}">News Feed</a></li>
        {% endif %}

    </ul>
   </nav>

    <!-- Authentication Links -->
    <p>
        {% if request.user.is_authenticated %}
           <span>Welcome, {{ request.user.username }}!</span>
           <a href="{% url 'create_article' %}">Create Article</a>
           <form method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <input type="submit" value="Logout">
           </form>
        {% else %}
           <a href="{% url 'login' %}">Login</a>
        {% endif %}
     </p>


   <!-- Content Block -->
   <div>
       {% block content %}


       {% endblock %}
   </div>


</body>
</html>
